<div class='mt-4'>
	<form method="GET" action="/news">
		<div class='form-group'>

			<label for='search-input'>Key word</label>
			<input
				name='q'
				type='text'
				class='form-control'
				id='search-input'
				placeholder='Enter key word...'
			/>

			<input
				name='age'
				type='text'
				class='form-control'
				id='search-input'
				placeholder='Enter age...'
			/>

		</div>

		<button type='submit' class='btn btn-primary'>Search</button>
	</form>
</div>