<div class='mt-4'>
	<form method='POST' action=''>
		<div class='form-group'>

			<label for='keyword-input'>Key word</label>
			<input
				name='q'
				type='text'
				class='form-control'
				id='keyword-input'
				placeholder='Enter key word...'
			/>
		</div>

		<div class='form-group'>
			<label for='age-input'>Age</label>
			<input
				name='age'
				type='text'
				class='form-control'
				id='age-input'
				placeholder='Enter age...'
			/>
		</div>

		<div class='form-group'>
			<label for='gender-input'>Gender</label>
			<select
				name='age'
				class='form-control'
				id='gender-input'
			>
			<option value="">-- Select gender --</option>
			<option value="male">Male</option>
			<option value="female">Female</option>
			</select>
		</div>

		<button type='submit' class='btn btn-primary'>Search</button>
	</form>
</div>