<div class='mt-4'>
	<h3>Upload Course</h3>

	<form method='POST' action='/courses/store' class='mt-4'>
		<div class='mb-3'>
			<label for='name' class='form-label'>name</label>
			<input type='text' name='name' class='form-control' id='name' />
		</div>

		<div class='mb-3'>
			<label for='description' class='form-label'>description</label>
			<textarea
				name='description'
				class='form-control'
				id='description'
			></textarea>
		</div>

		<div class='mb-3'>
			<label for='videoId' class='form-label'>videoId</label>
			<input type='text' name='videoId' class='form-control' id='videoId' />
		</div>

		<div class='mb-3'>
			<label for='level' class='form-label'>level</label>
			<input type='text' name='level' class='form-control' id='level' />
		</div>

		<button type='submit' class='btn btn-primary'>Create</button>
	</form>
</div>